{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Profile</h2>
{% endblock page_header %}

{% block content %}
	<div class="content-section">
    	<img src="{{ user.profile.image.url }}" alt='Аватарка' decoding='sync'>
    	<div class="media-body">
      	  <h2 class="account-heading">{{ user.username }}</h2>
  	      <p class="text-secondary">{{ user.email }}</p>
    	</div>
  	</div>
	<form method="POST" enctype="multipart/form-data">
	  {% csrf_token %}
	  <fieldset class="form-group">
		<legend class="border-bottom mb-4">Profile settings</legend>
		{% bootstrap_form u_form %}
		{% bootstrap_form p_form %}
	  </fieldset>
		<div class="form-group">
		  <button class="btn btn-primary" type="submit">Update</button>
		  <a href="{% url 'users:password_change' %}"><button type="button" class="btn btn-primary">Change password</button></a>
		</div>
	</form>
	</div>
{% endblock content %}