{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}
{{ content|safe }}

{% block page_header %}
    <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    <p>Edit entry:</p>
{% endblock page_header %}

{% block content %}

<form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
    {% csrf_token %}
    {{ form.media }}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">save changes</button>
    {% endbuttons %}
</form>

{% endblock content %}