{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">Track your learning.</h1>

    <p class="lead">Make your own Learning Log, and keep a list of the topics
        you're learning about. Whenever you learn something new about a topic,
        make an entry summarizing what you've learned. When you go to the topics tab, 
        you will be automatically logged in under the guest profile to familiarize yourself 
        with the functionality.</p>

    {% if user.is_authenticated %}
    <a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topics' %}"
        role="button">Begin &raquo;</a>
    {% else %}
    <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
        role="button">Register &raquo;</a>
    {% endif %}
  </div>
{% endblock page_header %}