{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <p>Add a new topic:</p>
{% endblock page_header %}


{% block content %}

    <form method="post" action="{% url 'learning_logs:new_topic' %}" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button name="submit" class="btn btn-primary">add topic</button>
        {% endbuttons %}
    </form>

{% endblock content %}