{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    Add a new entry in: <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'learning_logs:new_entry' topic.id %}" class="form">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
        {% buttons %}
          <button name="submit" class="btn btn-primary">add entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}