{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <div>
    <h3>{{ topic }}</h3>
    <button class="btn btn-primary float-right" style="background: #DCDCDC; margin-top:-38px">
      <small><a href="{% url 'learning_logs:remove_topic' topic.id %}">Remove topic</a></small>
  </div>
{% endblock page_header %}

{% block content %}
<p>
  <div>
    <button class="btn btn-primary" style="background: #DCDCDC">
      <small><a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a></small>
  </div>
</p>

{% for entry in entries %}
  <div class="card mb-3">
    <h4 class="card-header">
      <img src="{{ user.profile.image.url }}" alt='Аватарка' decoding='sync' width="50" height="50">
      {{ entry.date_added|date:'M d, Y H:i'}}
        <button class="btn btn-primary float-right" style="background: #DCDCDC">
            <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></small>
        <button class="btn btn-primary float-right" style="background: #DCDCDC; margin-right:10px">
            <small><a href="{% url 'learning_logs:remove_entry' entry.id topic.id %}">Remove entry</a></small>
    </h4>
    {{ entry.text|safe }}  
  </div>  
{% empty %}
  <p>There are no entries for this topic yet.</p>
{% endfor %}

{% endblock content %}
