{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Password reset confirmation.</h2>
{% endblock page_header %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

{% block content %}
{% if validlink %}
  <form method="post" action="{% url 'users:password_change' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Change password</button>
    {% endbuttons %}

    <input type="hidden" name="next"
      value="{% url 'learning_logs:index' %}" />
  </form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock content %}
