{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Reset complete</h2>
  <p>Your password has been set. You may go ahead and log in now.</p>
{% endblock page_header %}

{% block content %}
  <form action="{{ login_url }}">
    {% csrf_token %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}
  </form>

{% endblock content %}
