{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <form method="post" action="{% url 'users:password_change_done' %}" class="form">
      {% csrf_token %}
      <h1>Password changed</h1>
      <p>Your password has been successfully changed.</p>
    </form>
{% endblock %}