{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
  <h2>Password Reset</h2>
  <p>Forgotten your password? Enter your email address below, and well email instructions for setting a new one.</p>
{% endblock page_header %}

{% block content %}
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button name="submit" class="btn btn-primary">Change password</button>
    {% endbuttons %}
  </form>

{% endblock content %}